:root{
    --bg-menu: rgba(220, 220, 220, .65);
    --font-size-link: 0.9em;
    --font-size-body: 1rem;
    --z-fixed: 100;
    --color:rgba(0, 0, 0, .7);
}

*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
}

div{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px ;
}

.nav__close,
.nav__show{
    font-size: 20px;
    color: var(--color);
}

.navlist2 li:last-child{
    display: flex;
}

.nav__link{
    position: relative;
    font-weight: bold;
    list-style: none;
    text-align: start;
    color: #000;
    text-decoration: none;
}

.nav__link::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.7s;
}

.nav__link:hover{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.nav__link:hover::after{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    
}


.navbar .navlist2 button{
    border: solid 1px  #000;
    border-radius: 40px;
    padding: 5px 1em;
}

.navbar .navlist2 button:hover{
    color: rgba(0, 0, 0, 0.5);
}

.nav-button{
    background-color: #000;
    color: #fff;

}
.nav-button:hover{
    background-color: #fff;
}

.row button{
    background: inherit;
    border: solid  1px;
    border-radius: 30px;
    padding: 10px 20px;
    color: inherit;
}

.row button:hover{
    text-decoration: underline;
}

.row{
    margin-top: 30px;
    padding-bottom: 30px;
}

.row1{
    margin-bottom: 20px;
}

.row1-img{
    width: 100%;
    height: 60%;
}

.row1-img img{
    width: 100%;
    height: auto;
    padding-bottom: -10px;
}

.row1-text{
    width: 100%;
    text-align: center;
    line-height: 2;
    padding: 50px 35px;
    margin-top: -25px;
    background: hsl(144, 68%, 84%);
    font-weight: 1000;
    color: rgb(72, 108, 93);
}

.row1-text-col2{
    background: hsl(21, 75%, 65%);
    color: rgb(30, 57, 50);
}

.row1-text-col3{
    background:  hsl(190, 43%, 35%);
    color: rgb(255, 255, 255);
}

.row1-text-col4{
    background: hsl(19, 66%, 80%);
    color: rgb(30, 57, 50);
}

.row1-text-col5{
    background: hsl(164, 31%, 17%);
    color: rgb(255, 255, 255);
}

.row1-text-col6{
    background: hsl(164, 31%, 17%);
    color: rgb(255, 255, 255);
}

.row1-text-col7{
    background: hsl(164, 31%, 17%);
    color: rgb(255, 255, 255);
}

.row2{
    text-align: center;
}

.row2 p{
    margin-top: 80px;
    padding: 0;
}

.row2 p:first-child{
    margin-top: 50px;
}

.row2 p:last-child{
    margin-top: 15px;
}

.row2 p:nth-child(4){
    margin-top: 40px;
}

.row2 span{
    text-decoration: underline;
}

.foot{
    box-shadow: 3px 0 3px hsla(120, 0%, 41%, 0.5);
    box-shadow:  rgba(0,0,0,0.5);
    box-shadow: 0 -4px 5px -3px hsla(120, 0%, 41%, 0.5);
    padding: 20px;
}

.foot ul{
    padding: 0;
}

.foot-list1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.foot-list1 li{
    width: 13em;
    line-height: 2.3;
    list-style: none;
    text-align: start;
    color: rgb(33, 33, 33);
}

.foot-list1-li ul{
    width: inherit;
    padding: 0 20px 0 0;
    display: inline-block;
}

.foot-list1-li ul a{
    color: rgb(131, 131, 131);   
}

.foot-list-icon{
    display: flex;
    list-style: none;
    margin: 40px 0;
}
.foot-list-icon svg{
    color: rgb(33, 33, 33);
    margin-right: 20px;
}

.foot-list2 li{
    list-style: none;
}

.foot-list2 a{
    line-height: 3em;
    color: rgba( 33, 33, 33, .8);
    font-weight: bold;
}

    .foot-list2 hr{
        border: 0;
    }

.foot-french{
    color: rgb(38, 137, 101);
    font-weight: bold;
    font-size: medium;
    line-height: 3em;
}

.copyrigth{
    color: rgb(131, 131, 131);  
}
/* ===================== toplist ===================== */
.toplist{
    border: none;
    background: inherit;

}

.toplist i{
    display: none;
}

/* ===================== sticky ===================== */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;

}

@media only screen and (min-width:770px) {

    .menu-icon{
        display: none;
    }
/*    .navbar .navlist1 li svg{
        float: none;
        margin: 0;
        margin-top: -10px;
    }*/

    .foot-list2{
        display: flex;
        justify-content: space-between;
    }
        .foot-list2 hr{
        border: .01em solid;
        height: 15px;
        margin-top: 12px;
        color: rgb(131, 131, 131); 
    }

}

/*@media only screen and (max-width:420px){
    .navbar .navlist1 li svg{
        margin-left: -45px;
    }
}*/

@media only screen and (min-width:800px) {
    .row{
        margin: 30px 50px;
    }

    .row1{
        display: flex;
        margin-bottom: 20px;
        width: 100%;
        max-height: 500px;
    }

    .row1-nav{
        max-height: 350px;
    }

    .row1-nav .row1-text{
        padding: 5em 2em;
    }

    .row1-img{
        width: 50%;
        height: auto ;
    }
    .row1-img img{
        width: 100%;
        height: 100%;

    }

    .row1-text{
        margin: 0;
        padding: 10em 5em;
        width: 50%;
        height: auto;
        text-align: center;
    }

    .order1{
        order: 1;
    }

    .order2{
        order: 2;
    }
}

/* ===================== effet scroll toplist ===================== */
@media only screen and (max-width:970px) {
  .foot-list1{
    display: block;
  }

  .foot-list1 .foot_list1_li{
    width: 100%;
  }

  .foot_list1_li{
    width: 100%;
    height: 63px;
    overflow: hidden;
    margin: 20px auto;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .toplist{
    display: flex;
    width: 100%;
    background: inherit;
    border: none;
    outline: none;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px ;
  }

  .toplist i{
    display: block;
}
    
}

@media screen and (max-width: 800px) {
    .menuList{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%;
    padding: 7em 10%;
    background-color: var(--bg-menu);
    backdrop-filter: blur(16px);
 
    transition: 0.5s;
    }

    .nav__close{
        position: absolute;
        top: 20px;
        right: 30px;
        transition: 0.5s;
    }

    .navlist{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
        list-style: none;
        padding: 0;
    }

    .navlist2{
        margin-top: 60px;
    }

    .showmenu{
        transition: 0.4s;
        right: 0;
    }
    
}

@media screen and (min-width: 800px) {
    .navbar{
        align-items: center;

    }


    .menuList{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    .navlist{
        display: flex;
        gap: 30px;
        list-style: none;
        justify-content: center;
    }

    .nav__close,
    .nav__show{
        display: none;
    }

    .nav__link,
    .navlist2 button
    {
        display: flex;
        font-weight: 700;
    }
}